.bg-image {
    background-image: url("../img/ba.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100px;
    height: 100px;
}
.filter-blur {
    background: rgba(240, 227, 227, 0.5);
    backdrop-filter: blur(15px);
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
}
body {
    margin:0;
    padding: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    
    z-index: 2;
    font-size: 8vw;
}
